.product{
    border: 1px solid black;
    position: relative;
    
}

.product img{

    width: 100%;
    
}
.button{
    width: 100%;
    border: none;
    padding: 8px 0;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
}