.header-nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.header-nav img{
    height: 60px;
    padding-left: 200px;
}
.link{
    margin-right: 200px;
}
.link a{
    text-decoration: none;
    padding: 30px;
    color: #fff;

}
